div.infos{
}

p.type {
    display: block;
    width: 80%;
    padding: 2px 20px;
    text-align: center;
    background: #000c4c;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    margin: 20px auto;
}

div.infos p.infos-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
    text-align: justify;
}