div.connect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

a.btn {
    display: block;
    width: 25%;;
    line-height: 125%;
    text-align: center;
    background: #000c4c;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    margin: 0 auto;
}a.btn:hover {
    color: red;
}