body {
    font-family: sans-serif;
}
.bouton1 {
    padding: 10px 30px; 
    background: #222266; 
    color: white; 
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

    }
.bouton1:hover {
    color: #e34; 
    }