div.propos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 50%;
}

.type {
    display: block;
    width: 80%;
    padding: 2px 20px;
    text-align: center;
    background: #000c4c;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    margin: 0 auto;
}

.name {
    font-family: 'Open Sans', sans-serif;
}